# Базовые зависимости для ЛР1-6
numpy
psutil
colorama

# MPI-зависимости для ЛР7-8
# Linux:  sudo apt-get install openmpi-bin libopenmpi-dev python3-dev
# Windows: установить MS-MPI (https://docs.microsoft.com/en-us/message-passing-interface/microsoft-mpi)
mpi4py